.App {
  text-align: center;
  display: grid;
  grid-template-areas: 
  "NavBar NavBar NavBar NavBar"
  "side main main main"
  "side main main main"
  "footer footer footer footer";
  width: 100vw;
  height: 100vh;
  grid-template-rows: 10% 80%;
  grid-template-columns: 15%;
}

.Footer {
  grid-area: Footer;
}
.NavBar {
  grid-area: NavBar;

}
.Main {
  grid-area: main;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
}

.Haeder {
  grid-area: side;
  background-color: rgb(243, 199, 134);
  display: flex;
  flex-direction: column;
}
